body {
  color: cadetblue;
  background-image: url("images/background.jpeg");
  font-family: Arial, Helvetica, sans-serif;
}

#friendsBox {
  float: left;
  width: 30%;
  background-color: deepskyblue;
  border: 5px solid darkcyan;
  margin-top: 10px;
}
.dataBlocks {
  height: 100%;
  padding-bottom: 10px;
}

#mainBlock {
  border: solid 10px white;
  background-color: white;
  margin-left: 10%;
  margin-right: 10%;
  height: 100%;
  overflow: scroll;
}

.imgPos {
  float: right;
}

.blueBoxesPosition {
  float: right;
  width: 60%;
}

#block1 {
  border: none;
  background-color: #A8F0F0;
  text-align: right;
}

#block1-1 {
  border: none;
  font-size: 14px;
}

.blueBoxes {
  background-color: #E8FBFB;
  border: solid 4px #C2E9E9;
  padding: 5px;
  margin-top: 10px;
  overflow: hidden;
}

.dateBlock {
  border: none;
  border-bottom-style: dashed;
  border-bottom-color: blue;
  border-bottom-width: 2px;
}
